.config/1Password
.config/alacritty
.config/arkrc
.config/autostart
.config/baloofileinformationrc
.config/baloofilerc
.config/bashtop
.config/bluedevilglobalrc
.config/bluetuith
.config/brave-flags.conf
.config/BraveSoftware
.config/btop
.config/cachyos
.config/cachyos-hello.json
.config/cairo-dock
.config/calcurse
.config/chromium
.config/chrome-beta-flags.conf
.config/chrome-dev-flags.conf
.config/chrome-flags.conf
.config/chromium-flags.conf
.config/Code
.config/code-flags.conf
.config/'Code - OSS'
.config/cosmic
.config/dconf
.config/dolphinrc
.config/electron-flags.conf
.config/electron12-flags.conf
.config/electron18-flags.conf
.config/electron20-flags.conf
.config/enchant
.config/environment.d
.config/evolution
.config/falkon
.config/fish
.config/flashfocus
.config/fontconfig
.config/foot
.config/g
.config/gedit
.config/google-chrome
.config/google-chrome-beta
.config/google-chrome-unstable
.config/gtk-3.0
.config/gtk-4.0
.config/gtkrc
.config/gtkrc-2.0
.config/helix
.config/hypr
.config/i3
.config/ibus
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kanshi
.config/kcminputrc
.config/kconf_updaterc
.config/KDE
.config/kdeconnect
.config/kded5rc
.config/kded6rc
.config/kdedefaults
.config/kdeglobals
.config/kglobalshortcutsrc
.config/konsolerc
.config/konsolesshconfig
.config/ktimezonedrc
.config/Kvantum
.config/kwinoutputconfig.json
.config/kwinrc
.config/libaccounts-glib
.config/libfm
.config/libinput-gestures.conf
.config/micro
.config/microsoft-edge-dev
.config/mimeapps.list
.config/monitors.xml
.config/mozilla
.config/neofetch
.config/nwg-drawer
.config/nwg-launchers
.config/nwg-wrapper
.config/pcmanfm-qt
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/profile.d
.config/pulse
.config/qt5ct
.config/qt6ct
.config/QtProject.conf
.config/raycast
.config/rofi
.config/Rygel
.config/rygel.conf
.config/session
.config/swappy
.config/sway
.config/sworkstyle
.config/systemd
.config/terminator
.config/Trolltech.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vivaldi
.config/vivaldi-snapshot
.config/vivaldi-stable.conf
.config/waybar
.config/xsettingsd
.config/youtube-music-flags.conf
.config/zed
