[Desktop Entry]
Name=Cachy-Update Systray Applet
Comment[fr]=Applet systray pour Cachy-Update
Comment=Systray applet for Cachy-Update
Icon=cachy-update_updates-available-blue
Type=Application
Exec=arch-update --tray
Categories=Utility
